<div class="d-flex">
  <div class="form-check form-switch me-1">

    <input
      class="form-check-input" type="checkbox" role="switch"
      [checked]="userAccess.access[tool].hasAccess"
      [attr.id]="tool + userAccess.user.id"
      [disabled]="userAccess.access[tool].isLoading"
      (change)="updateAccess()">

    <label
      class="form-check-label"
      [attr.for]="tool + userAccess.user.id">
      Access
    </label>
  </div>

  <app-loader *ngIf="userAccess.access[tool].isLoading"></app-loader>
</div>
