<div>
  <h1>Managing access takes a long time and looks complicated.</h1>
  <br/>
  <h4>You hired a new employee and you need to give him an access to, for example: email, messenger, VPN, task
    tracker, cloud, repository, etc.</h4>
  <br/>
  <h4>When an employee leaves your company, you need to disable all of his accesses.</h4>
  <br/>
  <h3>Using this product you will do it just with one click.</h3>
</div>

<br/>

<hr>

<br/>

<div>
  <h2>Do you want to receive updates about the product? Share your email with the form below;)</h2>
  <form novalidate [formGroup]="subscriptionForm" (ngSubmit)="onSubmit()">
    <div class="row g-3">
      <div class="col-auto">
        <label for="exampleInputEmail1" class="col-form-label">Email address</label>
      </div>
      <div class="col-auto">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               formControlName="email"
               [ngClass]="{'is-invalid': subscriptionForm.controls.email.touched && subscriptionForm.controls.email.invalid}">
        <div id="emailHelp" class="invalid-feedback">
          Please enter a correct email.
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary" [disabled]="isLoading">
          Submit
        </button>
        <app-loader *ngIf="isLoading"></app-loader>
      </div>
      <div *ngIf="isSent" class="col-auto">
        Thank you! Your email is saved. We will keep you updated.
      </div>
      <div *ngIf="error" class="col-auto">
        Sorry. An error occurred while saving your email. Please try later.
      </div>
    </div>
  </form>
</div>

<br/>

<hr>

<br/>

<div>
  <h2>Competitors</h2>

  <a class="btn btn-danger" target="_blank" href="https://gusto.com/" role="button">
    Gusto
    <i class="bi bi-box-arrow-up-right"></i>
  </a>
</div>
