<nav class="navbar sticky-top bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="ROUTE_PATHS.LANDING">
      <i class="bi bi-universal-access-circle fs-4"></i>
      <span class="navbar-brand h1">
        Access composer
      </span>
    </a>

    <a class="btn btn-primary" [routerLink]="ROUTE_PATHS.DEMO" role="button">Try demo</a>
  </div>
</nav>

<div class="container">
  <div>
    <h1>Giving access takes a long time.</h1>
    <h3>This product will make it easy for you with one click.</h3>
  </div>

  <hr>

  <div>
    <h2>
      This product is intended for companies that use third party services.
    </h2>
  </div>

  <hr>

  <div>
    <h2>Competitors</h2>

    <a class="btn btn-danger" target="_blank" href="https://gusto.com/" role="button">
      Gusto
      <i class="bi bi-box-arrow-up-right"></i>
    </a>
  </div>

  <a class="btn btn-primary" [routerLink]="ROUTE_PATHS.DEMO" role="button">Try demo</a>
</div>

<nav class="navbar fixed-bottom bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Fixed bottom</a>
  </div>
</nav>

