<div>
  <h1>Managing access takes a long time and looks complicated.</h1>
  <br/>
  <h4>You hired a new employee and you need to give him an access to, for example: email, messenger, VPN, task
    tracker, cloud, repository, etc.</h4>
  <br/>
  <h4>When an employee leaves your company, you need to disable all of his accesses.</h4>
  <br/>
  <h3>Using this product you will do it just with one click.</h3>
</div>

<br/>

<hr>

<br/>

<div>
  <h2>
    This product could be interesting for companies that use third-party services.
  </h2>
</div>

<br/>

<hr>

<br/>

<div>
  <h2>Competitors</h2>

  <a class="btn btn-danger" target="_blank" href="https://gusto.com/" role="button">
    Gusto
    <i class="bi bi-box-arrow-up-right"></i>
  </a>
</div>
